body {
  counter-reset: values-counter;
}
.hero {
  background: linear-gradient(#2f3b5991, #2f3b5991),
    url(../images/about/hero-bg.png) center/cover no-repeat;
  position: relative;
}
.hero::after {
  content: url(../images/about/hero-circles.png);
  position: absolute;
  right: -31px;
  top: 50%;
  transform: translateY(-50%);
}
.hero .container {
  min-height: 200px;
}
.hero h1 {
  color: var(--neutral-white);
  font-size: clamp(40px, 5.04vw, 56px);
  letter-spacing: calc(clamp(1.79px, 0.22vw, 2.5px) * -1);
}
:where(.digital-mobility, .better-living) {
  gap: 56px;
}
.digital-mobility {
  margin-block: clamp(72px, 10.81vw, 120px);
}
:where(.digital-mobility, .better-living) .content {
  flex-basis: 445px;
}
:where(.digital-mobility, .better-living) .content h2 {
  color: var(--neutral-navy-dark);
  font-size: clamp(32px, 4.32vw, 48px);
  line-height: clamp(32px, 4.32vw, 48px);
  letter-spacing: calc(clamp(1.43px, 0.19vw, 2.14px) * -1);
}
:where(.digital-mobility, .better-living) .content p {
  color: var(--neutral-grey-medium);
  font-size: 15px;
  line-height: 25px;
  margin-block: 24px 40px;
}
:where(.digital-mobility, .better-living) img {
  width: clamp(311px, 40.09vw, 445px);
  height: clamp(311px, 40.09vw, 445px);
  border-radius: 50%;
}
.company-values {
  margin-block: 120px clamp(72px, 10.81vw, 120px);
}
.company-values h2 {
  color: var(--neutral-navy-dark);
  font-size: clamp(32px, 4.32vw, 48px);
  letter-spacing: calc(clamp(1.43px, 0.19vw, 2.14px) * -1);
  margin-bottom: clamp(64px, 9.27vw, 103px);
}
.company-values .wrapper {
  gap: 56px 30px;
}
.company-values .wrapper article {
  max-width: 350px;
}
.company-values .wrapper .image-container {
  margin-inline: auto;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  position: relative;
}
.company-values .wrapper .image-container::after {
  counter-increment: values-counter;
  content: "0" counter(values-counter) "";
  position: absolute;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(clamp(48px, 4.95vw, 55px) * -1);
  background-color: var(--primary-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--neutral-navy-dark);
  font-family: var(--font-family-mono);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1.07px;
}
.company-values .wrapper .image-container img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.company-values .wrapper .content {
  margin-top: clamp(64px, 7.83vw, 87px);
}
.company-values .wrapper .content h3 {
  margin-bottom: 27px;
  color: var(--neutral-navy-dark);
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
}
.company-values .wrapper .content p {
  color: var(--neutral-grey-medium);
  font-size: 15px;
  line-height: 25px;
}
.questions {
  margin-bottom: clamp(120px, 14.41vw, 160px);
}
.questions h2 {
  color: var(--neutral-grey-dark);
  font-size: clamp(32px, 4.32vw, 48px);
  letter-spacing: calc(clamp(1.43px, 0.19vw, 2.14px) * -1);
}
.questions faq-category {
  gap: 32px;
}
.questions .question-category:nth-child(2) {
  margin-block: clamp(48px, 5.76vw, 64px);
}
.questions .question-category h3 {
  color: var(--neutral-grey-dark);
  font-size: clamp(24px, 3.6vw, 40px);
  letter-spacing: calc(clamp(1.07px, 0.16vw, 1.79px) * -1);
}
.questions .question-items {
  flex-direction: column;
  gap: 16px;
  max-width: 730px;
  width: 100%;
}
.questions .question-items details {
  background-color: var(--neutral-snow);
  transition-property: background-color;
}
.questions .question-items :where(details:hover, details[open]) {
  background-color: #fff4df !important;
}
.questions .question-items summary {
  list-style: none;
  padding: 32px clamp(32px, 3.6vw, 40px);
  cursor: url(../images/cursor.png), auto;
}
.questions .question-items summary::-webkit-details-marker {
  display: none;
}
.questions .question-items summary::marker {
  display: none;
}
.fq.questions.question-items h4 {
  color: var(--neutral-grey-dark);
  font-size: clamp(18px, 2.16vw, 24px);
  letter-spacing: calc(clamp(0.8px, 0.09vw, 1.07px) * -1);
}
.fq.questions.question-items summary svg {
  width: 16px;
  height: auto;
}
.questions .question-items details[open] summary svg {
  rotate: 180deg;
}
.questions .question-items p {
  color: var(--neutral-grey-dark);
  font-size: 15px;
  padding: 0 32px 32px;
}
@media (width < 1142px) {
  .company-values .wrapper {
    flex-direction: column;
  }
  .company-values .wrapper article {
    max-width: 100%;
  }
}
@media (width < 1054px) {
  .questions .question-category {
    justify-content: center;
  }
  .questions .question-items {
    min-width: 100%;
  }
}
@media (width < 890px) {
  .digital-mobility,
  .better-living {
    justify-content: center;
  }
  :where(.digital-mobility, .better-living) .content {
    flex-grow: 1;
    text-align: center;
  }
}
@media (width < 576px) {
  .hero::after {
    display: none;
  }
  .hero .container {
    justify-content: center;
  }
}
