.hero {
  background: linear-gradient(#2f3b5991, #2f3b5991),
    url(../images/location/hero-bg.png) center/cover no-repeat;
  position: relative;
}
.hero::after {
  content: url(../images/location/hero-circles.png);
  position: absolute;
  right: -31px;
  top: 50%;
  transform: translateY(-50%);
}
.hero .container {
  min-height: 200px;
}
.hero h1 {
  color: var(--neutral-white);
  font-size: clamp(40px, 5.04vw, 56px);
  letter-spacing: calc(clamp(1.79px, 0.22vw, 2.5px) * -1);
}
.global-locations {
  margin-top: clamp(72px, 10.81vw, 120px);
}
.global-locations img {
  display: block;
  width: 100%;
  height: auto;
}
.global-locations .cities h3 {
  background-color: #fcb72b26;
  text-align: center;
  padding: 22px 100px;
  color: var(--neutral-navy-dark);
  font-size: 24px;
  letter-spacing: -1.07px;
}
.global-locations .cities {
  display: none;
}
.request-city {
  gap: 32px;
  margin-block: clamp(72px, 10.81vw, 120px);
}
.request-city h2 {
  max-width: 341px;
  color: var(--neutral-navy-dark);
  font-size: clamp(32px, 4.32vw, 48px);
  line-height: clamp(32px, 4.32vw, 48px);
  letter-spacing: calc(clamp(1.43px, 0.19vw, 2.14px) * -1);
}
.request-city p {
  color: var(--neutral-grey-medium);
  font-size: 15px;
  max-width: 445px;
}
@media (width < 1057px) {
  .request-city {
    flex-direction: column;
  }
  .request-city :where(h2, p) {
    text-align: center;
    max-width: 100% !important;
  }
}
@media (width < 697px) {
  .global-locations .cities {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
@media (width < 576px) {
  .hero::after {
    display: none;
  }
  .hero .container {
    justify-content: center;
  }
}
