:root {
  --max-container-width: 1110px;
  --container-horizontal-padding: 16px;
  --font-family-mono: "Space Mono", monospace, serif;
  --font-family-primary: "Lexend Deca", serif;
  --primary-yellow: #fcb72b;
  --primary-yellow-light: #fff4df;
  --primary-yellow-transparent: #fcb62b9a;
  --neutral-navy-dark: #495567;
  --neutral-grey-medium: #939caa;
  --neutral-grey-light: #e5ecf4;
  --neutral-grey-dark: #333a44;
  --neutral-snow: #f2f5f9;
  --neutral-white: #ffffff;
  --neutral-black: #000000;
  --neutral-black-transparent: #00000088;
  --animation-duration: 0.7s;
  --animation-timing: ease;
  --header-height: 96px;
}
::selection {
  background-color: var(--primary-yellow);
  color: var(--neutral-black);
}
::-moz-selection {
  background-color: var(--primary-yellow);
  color: var(--neutral-black);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-yellow-transparent);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-yellow);
}
::-webkit-scrollbar-track {
  background-color: var(--neutral-grey-light);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 100dvw;
  min-height: 100dvh;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: url(../images/cursor.png), auto;
}
ul {
  list-style: none;
}
main {
  overflow-x: hidden;
  padding-top: var(--header-height);
}
.container {
  max-width: calc(
    var(--max-container-width) + var(--container-horizontal-padding) * 2
  );
  padding-inline: var(--container-horizontal-padding);
  margin-inline: auto;
}
.active-nav-link {
  color: var(--primary-yellow) !important;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.font-mono {
  font-family: var(--font-family-mono);
}
.font-primary {
  font-family: var(--font-family-primary);
}
.font-bold {
  font-weight: 700;
}
.text-center {
  text-align: center;
}
.smooth-transition {
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing);
}
.btn-primary {
  display: inline-block;
  font-family: var(--font-family-mono);
  background-color: var(--primary-yellow);
  border: 3px solid var(--primary-yellow);
  padding: 14px 39px;
  color: var(--neutral-white);
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  transition: background-color var(--animation-timing) var(--animation-duration),
    color var(--animation-timing) var(--animation-duration);
}
.btn-primary:hover {
  background-color: transparent;
  color: var(--primary-yellow);
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--neutral-white);
  z-index: 30;
  box-shadow: 4px 4px 40px 0px var(--neutral-black-transparent);
}
.header .container {
  min-height: var(--header-height);
}
.header .menu-toggle-btn {
  display: none;
}
.header .header-nav {
  gap: 58px;
}
.header .logo img {
  width: clamp(75.5px, 9.71vw, 107.82px);
  height: auto;
}
.header ul {
  gap: 32px;
}
.header ul a {
  color: var(--neutral-grey-medium);
  font-size: 15px;
  transition-property: color;
}
.header ul a:hover {
  color: var(--primary-yellow);
}
.header #nav-menu .btn-primary {
  display: none;
}
.signup {
  background: var(--neutral-navy-dark) url(../images/signup-bg.png) right bottom
    no-repeat;
}
.signup .container {
  padding-block: clamp(88px, 9.18vw, 102px);
  gap: 40px;
}
.signup .container h2 {
  flex-basis: 420px;
  color: var(--neutral-white);
  font-size: clamp(32px, 4.32vw, 48px);
  line-height: clamp(32px, 4.32vw, 48px);
  letter-spacing: calc(clamp(1.43px, 0.19vw, 2.14px) * -1);
}
.signup .signup-links {
  gap: 12.86px 18px;
}
.signup .signup-links a:first-child svg {
  width: clamp(113.57px, 14.32vw, 159px);
  height: auto;
}
.signup .signup-links a:last-child svg {
  width: clamp(130px, 16.48vw, 182px);
  height: auto;
}
.footer {
  background-color: var(--neutral-grey-dark);
}
.footer .container {
  padding-block: 35px;
  gap: 58px;
}
.footer .footer-nav {
  gap: clamp(41px, 5.22vw, 58px);
}
.footer .footer-nav .logo svg {
  width: 107.82px;
  height: auto;
}
.footer .footer-nav ul {
  gap: clamp(16px, 2.88vw, 32px);
}
.footer .footer-nav ul a {
  color: var(--neutral-grey-medium);
  font-size: 15px;
  transition-property: color;
}
.footer .footer-nav ul a:hover {
  color: var(--primary-yellow);
}
.footer .social-links {
  gap: 24px;
}
.footer .social-links a {
  transition-property: color;
  color: var(--primary-yellow);
}
.footer .social-links a:hover {
  color: var(--neutral-grey-medium);
}
@media (width < 754px) {
  .signup .container {
    justify-content: center;
  }
  .signup .container h2 {
    text-align: center;
  }
}
@media (width < 697px) {
  :root {
    --header-height: 64px;
  }
    main {
    padding-top: var(--header-height);
  }
  .overlay-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--neutral-black);
    opacity: 0.75;
    z-index: 10;
  }
  .header .container {
    justify-content: center;
  }
  .header .menu-toggle-btn {
    position: absolute;
    left: var(--container-horizontal-padding);
    display: block;
    background-color: transparent;
    border: none;
    cursor: url(../images/cursor.png), auto;
  }
  .header .menu-toggle-btn img {
    width: 19.69px;
    height: 16px;
  }
  .header #nav-menu {
    position: absolute;
    left: 0;
    top: var(--header-height);
    width: 75vw;
    height: calc(100vh - var(--header-height));
    background-color: var(--neutral-grey-dark);
    padding: 64px 32px 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 30;
    transition: all var(--animation-timing) var(--animation-duration);
    gap: 32px;
  }
  .header #nav-menu[data-status="closed"] {
    transform: translate(-100%);
  }
  .header #nav-menu ul {
    flex-direction: column;
    color: var(--neutral-grey-light);
    font-size: 18px;
    gap: 24px;
  }
  .header #nav-menu .btn-primary {
    display: block;
  }
  .header .btn-primary:last-child {
    display: none;
  }
}
@media (width < 576px) {
  .footer {
    padding-block: 64px 88px;
  }
  .footer .container {
    flex-direction: column;
  }
  .footer .footer-nav {
    flex-direction: column;
  }
  .footer .footer-nav ul {
    flex-direction: column;
    align-items: center;
  }
}
